.h-sidebar:before, .h-sidebar:after,
.h-sidebar .nav:before, .h-sidebar .nav:after,
.h-sidebar .nav-list:before, .h-sidebar .nav-list:after {
    content: "" !important;
    display: none !important;
}

.h-sidebar {
    margin-top: 0px !important;
}

.ths-top-menu-a {
    /*padding: 3px 10px !important;*/
    text-align: center !important;
    margin-top: 1px !important;
    background-color: transparent !important;
    color: #fff !important;
}
.ths-top-menu{
    z-index: 1031 !important;
}

.hover-show > a[data-level=top] {
    /*color: #faebcc !important;*/
    background-color: #62A8D1 !important;
}

.active > a[data-level=top] {
    /*color: #faebcc !important;*/
    font-weight: bold;
    background-color: #62A8D1 !important;
}

.h-sidebar .nav li a .menu-icon {
    margin: 0px 0px !important;
    line-height: normal !important;;
}

@media (min-width: 992px) {
    .ths-top-menu-ul {
        float: right !important;
        margin-right: 30px !important;
    }
}

/*
.in a{
    text-align: left !important;
    color:#585858 !important ;
}
*/
@media (max-width: 991px) {
    .ths-top-menu-a {
        text-align: left !important;
        color: #585858 !important;
    }

    .active > a[data-level=top] {
        color: #2B7DBC !important;
        font-weight: bold;
        background-color: transparent !important;
    }

    .hover-show > a[data-level=top] {
        color: #2B7DBC !important;
    }
}

/*新增2016-5-5*/
.ths-toolbar {
    padding: 5px 15px;
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff !important;
    z-index: 1032 !important;
}

.ths-toolbar ul[data-level="top"] {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.ths-toolbar ul[data-level="top"]>li {
    float: left;
    margin-right: 25px;
    cursor: pointer;
}

.ths-toolbar ul[data-level="top"]>li:last-child {
    margin-right: 0;
}

.ths-toolbar ul[data-level="top"] > li > img {
    margin-right: 3px;
}
.ths-toolbar .dropdown-menu.dropdown-closer {
    top:110% !important;
}

/*修改导航*/
.sidebar.h-sidebar .nav-list {
    border-bottom: none;
}

.width_34 img {
    width: 34px;
    height: 34px;
}

.sidebar.h-sidebar .nav-list > li {
    border-width: 0;
}

.sidebar.h-sidebar .nav-list > li:last-child {
    border-right: 0;
}

.nav-list > li:before {
    top: 0
}

.sidebar.h-sidebar .nav-list > li:before {
    top: 0;
    right: 0;
    left: 0;
}

.navbar-brand {
    line-height: 1.5;
}

.navbar-brand-line {
    margin-left: 30px !important;
}

.no-skin .sidebar.h-sidebar .nav-list > li.active > a:after {
    bottom: 0;
    border-bottom: none;
}

@media (min-width: 992px) {
    .navbar-brand-line {
        line-height: 60px !important;

    }

    .width_34 img {
        width: 34px;
        height: 34px;
        margin-bottom: 8px;
    }
}

@media (max-width: 991px) {
    .navbar-brand-line {
        line-height: 45px !important;

    }

    .width_34 img {
        margin-bottom: 5px;
    }

    .ths-toolbar ul li {
        margin-right: 15px;
    }

    .h-sidebar{
        position: fixed !important;
        top:75px !important;
    }
}

.ths-toolbar ul li .badge{
    padding: 3px 5px !important;
    font-size: 8px !important;
    margin-top: -10px !important;
    line-height: 10px !important;
}
.ths-toolbar-quickmenu li a{
    padding-top: 7px !important;
    padding-bottom: 8px !important;
    font-size: 14px !important;
}
.nav-list > li > a{
    height: auto !important;
}
.menu-min>.nav-wrap-up>.nav-wrap>.nav-list>LI>.submenu{
    overflow-y: auto !important;
    overflow-x: hidden !important;
    max-height: 350px !important;
}